<?php

class DD extends Migration {
    public function up() {
        $this->iblock_type->create([
            'NAME' => 'имя',
            'CODE' => 'code'
        ]);
    }

    public function down() {
        $this->iblock->delete('code');
    }
}
