<?php

class %name% extends Migration {
    public function up() {
        $this->IBlockType
            ->setId('information')
            ->setName('Информация')
            ->create();
    }

    public function down() {
        $this->IBlockType->delete('information');
    }
}
